.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.hero {
  height: 80vh;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-gray-100);
}
